html {
    font-size: 16px;
}

body {
    margin: 0;
    background-color: #75A03F;
    font-size: 16px;
}


.center {
    text-align: center;
}

header {
    background-color: #6D4275;
}

a {
    text-decoration: none;
    color: #90F50F;
}

.navbar p {
    font-size: 1rem;
    padding-top: 1.1rem;
    margin: 0;
    
}

header .navbar {
    display: flex;
    gap: 3rem;
    padding-left: 3rem;
    padding-bottom: 0.5rem;
    align-items: center;
}


@media only screen and (max-width: 895px) {
    .mobile {
        display: none;
    }

    header .navbar {
        display: flex;
        gap: 1.5rem;
        padding-left: 1rem;
        padding-bottom: 0.5rem;
        align-items: center;
    }
}
.name-section h1 {
    margin-top: 20rem;
    background-color: #222E12;
    color: #90F50F;
    padding: 2rem;
}

.meetup {
    margin-top: 12rem;
    margin-left: 1rem;
}

.meetup .connect {
    font-size: 1.5rem;
    color: #b52e31;
    font-weight: bolder;
}

.meetup p {
    color: #fff;
}

.image-section {
    display: flex;
    margin: 6rem 1rem;
    
}

.image-section img {
    width: 33%;
    overflow: hidden;
    margin: 1.5%;
}

@media only screen and  (max-width: 1048px) {
    .image-section {
        display: block;
        margin: 4rem 0;
    }
    
    .image-section img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;

    }
    
    
}

.quote {
    background-color: #6D4275;
    height: 20rem;
    padding: 1rem 1rem;
}

.quote-section h1 {
    font-size: 2.5rem;
}

.quote-section p {
    /* padding-top: 0; */
    font-size: 1rem;
}

@media only screen and (max-width: 895px) {
    .quote-section h1 {
        font-size: 1.8rem;
    }    

        .quote-section p {
            padding-top: 0;
            font-size: 0.9rem;
        }
    
}

.photo {
    display: flex;
    margin: 6rem 1rem;
    
}

.photo img {
    width: 33%;
    overflow: hidden;
    margin: 1.5%;
}


@media only screen and  (max-width: 1048px) {
    .photo {
        display: block;
        margin: 4rem 0;
    }
    
    .photo img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;

    }
    
    
}

.join img {
    width: 50%;
}

.join p {
    font-size: 2rem;
}

@media only screen and (max-width: 895px) {
    .join p {
        font-size: o.9rem;
    }
}



footer{
    display: flex;
    justify-content: space-between;
    background-color: #6D4275;
    margin-top: 2rem;
}

.design {
    padding-right: 2rem;
    padding-bottom: 0.5rem;
}

footer .navbar {
    display: flex;
    gap: 3rem;
    padding-left: 3rem;
    padding-bottom: 0.5rem;
    align-items: center;
}

.design p {
    font-size: 1rem;
    padding-top: 1.1rem;
    margin: 0;
    color: #90F50F;
}

@media only screen and (max-width: 895px) {
    .design p {
        display: none;
    }

    footer .navbar {
        display: flex;
        gap: 1.5rem;
        padding-left: 1rem;
        padding-bottom: 0.5rem;
        align-items: center;
    }
    
}
